In [13]:
import pandas as pd

In [14]:
descriptor_table = pd.read_csv("Descriptors.csv")
descriptor_table[["sth", "B", "Patient ID", "Date"]] = descriptor_table["MRID"].str.split("_", expand=True)
descriptor_table.sort_values(by=["Patient ID", "Age"])
descriptor_table["Age-rounded"] = descriptor_table["Age"].round()
descriptor_table

,MRID,Age,Diagnosis,Sex,sth,B,Patient ID,Date,Age-rounded
0,002_S_0413_2017-06-21,87.421150,CN,F,002,S,0413,2017-06-21,87.0
1,002_S_1155_2017-04-24,68.102533,MCI,M,002,S,1155,2017-04-24,68.0
2,002_S_1155_2018-05-08,69.140178,MCI,M,002,S,1155,2018-05-08,69.0
3,002_S_1261_2017-03-15,81.145175,MCI,F,002,S,1261,2017-03-15,81.0
4,002_S_4473_2017-03-07,79.854073,MCI,M,002,S,4473,2017-03-07,80.0
...,...,...,...,...,...,...,...,...,...
2248,941_S_5193_2015-04-02,74.306982,CN,F,941,S,5193,2015-04-02,74.0
2249,941_S_5193_2017-06-09,76.494524,CN,F,941,S,5193,2017-06-09,76.0
2250,941_S_6058_2019-08-14,70.312320,CN,F,941,S,6058,2019-08-14,70.0
2251,941_S_6068_2019-09-10,77.853388,MCI,M,941,S,6068,2019-09-10,78.0
2252,941_S_6575_2019-09-16,74.529432,CN,M,941,S,6575,2019-09-16,75.0

In [15]:
median_age = descriptor_table["Age-rounded"].median()
median_age

74.0

In [16]:
descriptor_table['Age_Group'] = descriptor_table['Age'] < median_age

# Map True to 'young' and False to 'old'
descriptor_table['Age_Group'] = descriptor_table['Age_Group'].map({True: 'young', False: 'old'})

In [17]:
descriptor_table

,MRID,Age,Diagnosis,Sex,sth,B,Patient ID,Date,Age-rounded,Age_Group
0,002_S_0413_2017-06-21,87.421150,CN,F,002,S,0413,2017-06-21,87.0,old
1,002_S_1155_2017-04-24,68.102533,MCI,M,002,S,1155,2017-04-24,68.0,young
2,002_S_1155_2018-05-08,69.140178,MCI,M,002,S,1155,2018-05-08,69.0,young
3,002_S_1261_2017-03-15,81.145175,MCI,F,002,S,1261,2017-03-15,81.0,old
4,002_S_4473_2017-03-07,79.854073,MCI,M,002,S,4473,2017-03-07,80.0,old
...,...,...,...,...,...,...,...,...,...,...
2248,941_S_5193_2015-04-02,74.306982,CN,F,941,S,5193,2015-04-02,74.0,old
2249,941_S_5193_2017-06-09,76.494524,CN,F,941,S,5193,2017-06-09,76.0,old
2250,941_S_6058_2019-08-14,70.312320,CN,F,941,S,6058,2019-08-14,70.0,young
2251,941_S_6068_2019-09-10,77.853388,MCI,M,941,S,6068,2019-09-10,78.0,old
2252,941_S_6575_2019-09-16,74.529432,CN,M,941,S,6575,2019-09-16,75.0,old

In [18]:
# Assuming descriptor_table is your DataFrame

# Calculate the difference between maximum and minimum age within each group
age_difference = descriptor_table.groupby('Patient ID')['Age'].apply(lambda x: x.max() - x.min())

# Filter the Patient IDs where the age difference is greater than or equal to 2 years
valid_patient_ids = age_difference[age_difference >= 2].index
valid_df = descriptor_table[descriptor_table['Patient ID'].isin(valid_patient_ids)]

In [19]:
# Split the DataFrame into two based on 'Age_Group'
young_df = valid_df[valid_df['Age_Group'] == 'young'].reset_index(drop=True)
old_df = valid_df[valid_df['Age_Group'] == 'old'].reset_index(drop=True)

In [20]:
young_df

,MRID,Age,Diagnosis,Sex,sth,B,Patient ID,Date,Age-rounded,Age_Group
0,002_S_6053_2017-07-18,65.700000,CN,M,002,S,6053,2017-07-18,66.0,young
1,002_S_6053_2019-11-05,67.999795,CN,M,002,S,6053,2019-11-05,68.0,young
2,007_S_6323_2018-04-17,66.200000,CN,M,007,S,6323,2018-04-17,66.0,young
3,007_S_6323_2020-09-22,68.633949,CN,M,007,S,6323,2020-09-22,69.0,young
4,009_S_1030_2011-11-14,72.402053,AD,M,009,S,1030,2011-11-14,72.0,young
...,...,...,...,...,...,...,...,...,...,...
814,941_S_4292_2011-12-05,70.858932,CN,M,941,S,4292,2011-12-05,71.0,young
815,941_S_4292_2012-06-20,71.401027,CN,M,941,S,4292,2012-06-20,71.0,young
816,941_S_4292_2012-12-20,71.902053,CN,M,941,S,4292,2012-12-20,72.0,young
817,941_S_4292_2013-09-23,72.660438,CN,M,941,S,4292,2013-09-23,73.0,young
818,941_S_5193_2013-05-29,72.464408,CN,F,941,S,5193,2013-05-29,72.0,young

In [21]:
old_df

,MRID,Age,Diagnosis,Sex,sth,B,Patient ID,Date,Age-rounded,Age_Group
0,009_S_0842_2011-10-24,78.640383,CN,M,009,S,0842,2011-10-24,79.0,old
1,009_S_0842_2012-11-01,79.664339,MCI,M,009,S,0842,2012-11-01,80.0,old
2,009_S_0842_2013-10-28,80.652704,MCI,M,009,S,0842,2013-10-28,81.0,old
3,009_S_0842_2014-10-14,81.613689,MCI,M,009,S,0842,2014-10-14,82.0,old
4,009_S_1030_2013-11-19,74.417112,AD,M,009,S,1030,2013-11-19,74.0,old
...,...,...,...,...,...,...,...,...,...,...
745,941_S_4764_2012-06-01,82.672621,MCI,F,941,S,4764,2012-06-01,83.0,old
746,941_S_4764_2013-06-10,83.696578,MCI,F,941,S,4764,2013-06-10,84.0,old
747,941_S_4764_2014-06-16,84.712320,MCI,F,941,S,4764,2014-06-16,85.0,old
748,941_S_5193_2015-04-02,74.306982,CN,F,941,S,5193,2015-04-02,74.0,old
749,941_S_5193_2017-06-09,76.494524,CN,F,941,S,5193,2017-06-09,76.0,old

In [22]:
# for young_df and old_df, group by Patient ID, 
# create young_train_df and old_train_df that contains only the first image with the lowest Age value, and create young_test_df and old_test_df that contains all other entries
# For young_df
young_train_df = young_df.groupby('Patient ID').apply(lambda x: x.loc[x['Age'].idxmin()]).reset_index(drop=True)
young_test_df = young_df.drop(young_train_df.index).reset_index(drop=True)

# For old_df
old_train_df = old_df.groupby('Patient ID').apply(lambda x: x.loc[x['Age'].idxmin()]).reset_index(drop=True)
old_test_df = old_df.drop(old_train_df.index).reset_index(drop=True)

In [23]:
import numpy as np
import os
import nibabel as nib
yng_imgs_tr = []
yng_age_tr = []
yng_AD_tr = []

yng_imgs_te = []
yng_age_te = []
yng_AD_te = []

old_imgs_tr = []
old_age_tr = []
old_AD_tr = []

old_imgs_te = []
old_age_te = []
old_AD_te = []


# yng_imgs_tr 
# get the list of 
yng_imgs_tr_list = young_train_df["MRID"]
for i in range(10):# len(yng_imgs_tr_list)
    # get filename
    cur_img_file = nib.load(os.path.join('adni_data', yng_imgs_tr_list[i], yng_imgs_tr_list[i]+"_MNI152_registered.nii.gz"))
    cur_img_np = cur_img_file.get_fdata()
    cur_img_np_sliced = cur_img_np[:,int(cur_img_np.shape[1]/2-30):int(cur_img_np.shape[1]/2+30),:]
    slice_thickness = cur_img_np_sliced.shape[1]
    for j in range(slice_thickness):
        cur_slice = cur_img_np_sliced[:,j,:]
        # normalize the slice
        cur_slice = (cur_slice / np.max(cur_slice))  * 2 - 1
        yng_imgs_tr.append(cur_slice)
        cur_age = young_train_df[young_train_df["MRID"] == yng_imgs_tr_list[i]]["Age-rounded"].values
        yng_age_tr.append(cur_age[0])
        cur_condition = young_train_df[young_train_df["MRID"] == yng_imgs_tr_list[i]]["Diagnosis"].values
        yng_AD_tr.append(cur_condition[0])
        
yng_imgs_te_list = young_test_df["MRID"]
for i in range(10):# len(yng_imgs_te_list)
    # get filename
    cur_img_file = nib.load(os.path.join('adni_data', yng_imgs_te_list[i], yng_imgs_te_list[i]+"_MNI152_registered.nii.gz"))
    cur_img_np = cur_img_file.get_fdata()
    cur_img_np_sliced = cur_img_np[:,int(cur_img_np.shape[1]/2-30):int(cur_img_np.shape[1]/2+30),:]
    slice_thickness = cur_img_np_sliced.shape[1]
    for j in range(slice_thickness):
        cur_slice = cur_img_np_sliced[:,j,:]
        # normalize the slice
        cur_slice = (cur_slice / np.max(cur_slice))  * 2 - 1
        yng_imgs_te.append(cur_slice[0])
        cur_age = young_test_df[young_test_df["MRID"] == yng_imgs_te_list[i]]["Age-rounded"].values
        yng_age_te.append(cur_age)
        cur_condition = young_test_df[young_test_df["MRID"] == yng_imgs_te_list[i]]["Diagnosis"].values
        yng_AD_te.append(cur_condition[0])
        
old_imgs_tr_list = old_train_df["MRID"]
for i in range(10):# len(old_imgs_tr_list)
    # get filename
    cur_img_file = nib.load(os.path.join('adni_data', old_imgs_tr_list[i], old_imgs_tr_list[i]+"_MNI152_registered.nii.gz"))
    cur_img_np = cur_img_file.get_fdata()
    cur_img_np_sliced = cur_img_np[:,int(cur_img_np.shape[1]/2-30):int(cur_img_np.shape[1]/2+30),:]
    slice_thickness = cur_img_np_sliced.shape[1]
    for j in range(slice_thickness):
        cur_slice = cur_img_np_sliced[:,j,:]
        # normalize the slice
        cur_slice = (cur_slice / np.max(cur_slice)) * 2 - 1
        old_imgs_tr.append(cur_slice)
        cur_age = old_train_df[old_train_df["MRID"] == old_imgs_tr_list[i]]["Age-rounded"].values
        old_age_tr.append(cur_age[0])
        cur_condition = old_train_df[old_train_df["MRID"] == old_imgs_tr_list[i]]["Diagnosis"].values
        old_AD_tr.append(cur_condition[0])
        
old_imgs_te_list = old_test_df["MRID"]
for i in range(10):# len(old_imgs_te_list)
    # get filename
    cur_img_file = nib.load(os.path.join('adni_data', old_imgs_te_list[i], old_imgs_te_list[i]+"_MNI152_registered.nii.gz"))
    cur_img_np = cur_img_file.get_fdata()
    cur_img_np_sliced = cur_img_np[:,int(cur_img_np.shape[1]/2-30):int(cur_img_np.shape[1]/2+30),:]
    slice_thickness = cur_img_np_sliced.shape[1]
    for j in range(slice_thickness):
        cur_slice = cur_img_np_sliced[:,j,:]
        # normalize the slice
        cur_slice = (cur_slice / np.max(cur_slice)) * 2 - 1
        old_imgs_te.append(cur_slice[0])
        cur_age = old_test_df[old_test_df["MRID"] == old_imgs_te_list[i]]["Age-rounded"].values
        old_age_te.append(cur_age)
        cur_condition = old_test_df[old_test_df["MRID"] == old_imgs_te_list[i]]["Diagnosis"].values
        old_AD_te.append(cur_condition[0])

yng_imgs_tr_array = np.stack(yng_imgs_tr, axis = 0)
yng_imgs_te_array = np.stack(yng_imgs_te, axis = 0)
old_imgs_tr_array = np.stack(old_imgs_tr, axis = 0)
old_imgs_te_array = np.stack(old_imgs_te, axis = 0)

In [24]:
print(yng_imgs_tr_array.shape)
print(yng_imgs_te_array.shape)
print(old_imgs_tr_array.shape)
print(old_imgs_te_array.shape)

(600, 182, 182)
(600, 182)
(600, 182, 182)
(600, 182)

In [25]:

print("Length of yng_age_tr:", len(yng_age_tr))
print("Length of yng_AD_tr:", len(yng_AD_tr))

print("Length of yng_age_te:", len(yng_age_te))
print("Length of yng_AD_te:", len(yng_AD_te))

print("Length of old_age_tr:", len(old_age_tr))
print("Length of old_AD_tr:", len(old_AD_tr))

print("Length of old_age_te:", len(old_age_te))
print("Length of old_AD_te:", len(old_AD_te))

Length of yng_age_tr: 600
Length of yng_AD_tr: 600
Length of yng_age_te: 600
Length of yng_AD_te: 600
Length of old_age_tr: 600
Length of old_AD_tr: 600
Length of old_age_te: 600
Length of old_AD_te: 600

In [26]:
# transcode AD condition from text to ord vector
# Mapping from category to numpy array representation
category_mapping = {"CN": [0, 0], "MCI": [0, 1], "AD": [1, 1]}

# Generate the corresponding numpy array
yng_AD_tr_array = np.array([category_mapping[category] for category in yng_AD_tr])
yng_AD_te_array = np.array([category_mapping[category] for category in yng_AD_te])
old_AD_tr_array = np.array([category_mapping[category] for category in old_AD_tr])
old_AD_te_array = np.array([category_mapping[category] for category in old_AD_te])

In [27]:
# Specify the file name
output_file = 'img_output.npz'

# Save the numpy arrays into one file
np.savez(output_file, yng_imgs_tr_array=yng_imgs_tr_array, yng_imgs_te_array=yng_imgs_te_array, old_imgs_tr_array=old_imgs_tr_array, old_imgs_te_array=old_imgs_te_array)

print("Numpy arrays saved to", output_file)

Numpy arrays saved to img_output.npz

In [28]:
# Specify the output file names
ad_output_file = 'AD_data.npz'
age_output_file = 'age_data.npz'

# Save AD lists into a numpy compressed archive file
np.savez(ad_output_file, 
         yng_AD_tr=np.array(yng_AD_tr),
         yng_AD_te=np.array(yng_AD_te),
         old_AD_tr=np.array(old_AD_tr),
         old_AD_te=np.array(old_AD_te))

# Save age lists into a numpy compressed archive file
np.savez(age_output_file, 
         yng_age_tr=np.array(yng_age_tr),
         yng_age_te=np.array(yng_age_te),
         old_age_tr=np.array(old_age_tr),
         old_age_te=np.array(old_age_te))

print("AD data saved to", ad_output_file)
print("Age data saved to", age_output_file)

AD data saved to AD_data.npz
Age data saved to age_data.npz